body {
    visibility: hidden; /* Скрываем всё содержимое по умолчанию */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Стили для кнопки */
.telegram-button {
    background-color: #007bff; /* Голубой цвет */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.telegram-button:hover {
    background-color: #0056b3; /* Темнее при наведении */
}