/* Общие настройки */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    justify-content: center; /* Центрируем контент по вертикали */
    align-items: center;
    height: 100vh; /* Полная высота экрана */
    background-color: #f9f9f9;
    position: relative; /* Добавляем относительное позиционирование для body */
}

/* Заголовок в верхней части страницы */
.header {
    width: 100%;
    text-align: center;
    margin-top: 3%; /* Отступ от верха 3% */
}

/* Основной контейнер */
.container-wrap {
    width: 100%;
    padding: 0 3%; /* Отступы слева и справа */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

/* Кнопка "Войти" в нижней части страницы */
.footer-button {
    position: absolute; /* Абсолютное позиционирование */
    bottom: 3%; /* Отступ от нижней границы 3% */
    left: 50%; /* Центрируем кнопку по горизонтали */
    transform: translateX(-50%); /* Смещаем кнопку на половину её ширины */
    width: 20%; /* Ширина кнопки */
}

/* Стиль для кнопки "Войти" */
.button {
    display: inline-block;
    width: 100%; /* Занимает всю доступную ширину внутри .footer-button */
    font-size: 12px;
    padding: 5px 0;
    border: 2px solid #00bfff; /* Голубая рамка 2 пикселя */
    color: black; /* Черный текст */
    border-radius: 10px;
    text-decoration: none; /* Убираем подчеркивание у ссылки */
    cursor: pointer;
    text-align: center;
}

/* Эффект при наведении на кнопку */
.button:hover {
    background-color: #00bfff; /* Темнее голубой при наведении */
}

/* Заголовки */
h1 {
    font-size: 18px; /* Размер шрифта для заголовков */
    color: #333; /* Темно-серый цвет текста */
}
