/* Общие настройки */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex; /* Убираем вертикальное центрирование */
    flex-direction: column; /* Вертикальное расположение элементов */
    height: 100vh; /* Полная высота экрана */
    background-color: #f9f9f9;
    position: relative; /* Добавляем относительное позиционирование для body */
}

/* Заголовок в верхней части страницы */
.header {
    width: 100%;
    text-align: center;
    margin-top: 3%; /* Отступ от верха 3% */
    box-sizing: border-box;
}

/* Основной контейнер */
.container-wrap {
    width: 100%;
    padding: 0 3%; /* Отступы слева и справа */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

/* Стиль для кнопки "Правила сервиса" */
.footer-rules {
    position: absolute; /* Абсолютное позиционирование */
    bottom: 2%; /* Отступ от нижней границы 2% */
    left: 3%; /* Отступ от левой границы 3% */
}

/* Стиль для кнопки "Войти" */
.footer-button {
    position: absolute; /* Абсолютное позиционирование */
    bottom: 2%; /* Отступ от нижней границы 2% */
    right: 3%; /* Отступ от правой границы 3% */
}

/* Стиль для кнопок */
.button {
    display: inline-block;
    width: 100%; /* Занимает всю доступную ширину внутри родителя */
    font-size: 12px;
    padding: 5px 10px;
    border: 2px solid #00bfff; /* Голубая рамка 2 пикселя */
    color: black; /* Черный текст */
    border-radius: 10px;
    text-decoration: none; /* Убираем подчеркивание у ссылки */
    cursor: pointer;
    text-align: center;
    background-color: transparent; /* Прозрачный фон */
}

/* Эффект при наведении на кнопку */
.button:hover {
    background-color: #00bfff; /* Темнее голубой при наведении */
    color: white; /* Белый текст при наведении */
}

/* Заголовки */
h1 {
    font-size: 18px; /* Размер шрифта для заголовков */
    color: #333; /* Темно-серый цвет текста */
}
